<form action="#" class="p-3" method="POST">
  <div class="form-row">
    <div class="form-group col">
      <label for="inputAno">Ano</label>
      <select id="inputAno" class="form-control">
        <option selected>2020</option>
      </select>
    </div>
    <div class="form-group col">
      <label for="inputMes">Mês</label>
      <select id="inputMes" class="form-control">
        <option selected>Todos</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col">
      <label for="inputDep">Deputado</label>
      <select id="inputDep" class="form-control">
        <option selected>Todos</option>
        <option>...</option>
      </select>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
  </div>
</form>
