{% macro despesa(desp) %}
  <li id="{{ desp.id }}" class="despesa media mb-2 bg-white">
    <div class="foto-parlamentar rounded-circle mr-3">
      <img src="{{ desp.servidor.url_foto }}" alt="{{ desp.servidor.nome }}">
    </div>
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{{ url_for('pages.show', id=desp.servidor.id)}}">
          {{ desp.servidor.nome }}
        </a> <small>{{ desp.servidor.partido}}/{{ desp.servidor.uf }}</small>
      </h5>
      <p>R$ {{ "{:.2f}".format(desp.valor).replace('.', ',') }} em {{ desp.data }} com {{ desp.tipo|title }}.</p>
    </div>
  </li>
{% endmacro %}


{% macro paginacao(pagination, endpoint, page_id=None) %}
  <nav aria-label="Paginação">
    <ul class="pagination pagination-lg justify-content-end">
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page == pagination.page %}
            <li class="page-item active">
              <span class="page-link">{{ page }}</span>
            </li>
          {% else %}
            <li class="page-item">
              {% if page_id %}
                {% set url = url_for(endpoint, id=page_id, page=page) %}
              {% else %}
                {% set url = url_for(endpoint, page=page) %}
              {% endif %}
              <a class="page-link" href="{{ url }}">{{ page }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}
