.retrato-wrapper {
    width: 114px;
    height: 114px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.retrato {
    width: 114px;
    height: 114px;
    overflow: hidden;
}

.fixed-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.stats {
    background-color: #f8f9fa!important;
    font-size: 1.25rem;
}

.nome-parlamentar {
    font-size: 1.10rem;
}

.texto-destaque {
    background-color: #ffc107!important;
    padding-left: .25rem!important;
    padding-right: .25rem!important;
    font-weight: bold;
}

/* apaga a decoração dos links */
a .texto-destaque {
    color: black;
}
