#page-container {
    background-color: rgb(240, 240, 240);
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.25rem;
}

.search-form-wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.politico-card {
    width: 135px;
    margin: 8px 4px;
}

.politico-info {
    font-size: 0.85rem;
    line-height: normal;
}

/* apaga a decoração dos links */
a .politico-info {
    color: black;
}

.retrato-wrapper {
    position: relative;
}

.retrato {
    /* o tamanho é definido dinamicamente */
    margin: 10px auto 0;
    overflow: hidden;
    text-align: center;
    background-color: white;
}

.fixed-bottom-center {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.stats {
    background-color: #f8f9fa!important;
    font-size: 1.25rem;
}

.table {
    font-size: 0.85rem;
}

.texto-destaque {
    background-color: #ffc107!important;
    padding-left: .25rem!important;
    padding-right: .25rem!important;
    font-weight: bold;
}

.ranking-card {
    padding: 16px 8px;
    margin: 16px 0;
}

.ranking-card a {
    color: black;
}

.ranking-card a:hover {
    text-decoration: none;
    background-color: white;
}

.ultimos-reembolsos-card {
    padding: 16px 8px 0 8px;
    margin: 16px 0;
}

.titulo-card {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

/* Utilidades */

.link {
    color: black;
}

.link:hover {
    text-decoration: none;
}
