<form action="{{ url_for('pages.show', id=parlamentar.id) }}" method="POST">
  <div class="form-row">
    {{ form.csrf_token }}
    <div class="col form-group">
      {{ form.ano(class="form-control", readonly="1") }}
    </div>
    <div class="col form-group">
      {{ form.mes(class="form-control") }}
    </div>
    <div class="col-sm-6 form-group">
      {{ form.tipo(class="form-control", readonly="1") }}
    </div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-primary btn">Filtrar</button>
  </div>
</form>
