<form class="form__search" action="{{ url_for('pages.search') }}" method="POST" autocomplete="off">
  <div class="input-group mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text">{{ form.nome.label.text }}</span>
    </div>
    {{ form.nome(list="nomes", class="form-control", placeholder="Buscar político") }}
    <datalist id="nomes">
      {% for nome in datalist -%}
        <option value="{{ nome }}">
      {%- endfor %}
    </datalist>
  </div>

  <div class="form-row mb-4 justify-content-end">
    <div class="col-md-3 input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">{{ form.uf.label.text }}</span>
      </div>
        {{ form.uf(class="form-control") }}
    </div>
    <div class="col-md-6 input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">{{ form.partido.label.text }}</span>
      </div>
        {{ form.partido(class="form-control") }}
    </div>
  </div>

  <div class="text-right">
    <button class="btn btn-success" type="submit">Buscar</button>
  </div>
</form>
