{% extends "base.html" %}


{% block content %}
  <div class="container">
    <section class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p>A Cota para o Exercício da Atividade Parlamentar (CEAP) custeia as despesas do mandato
            como passagens aéreas e conta de celular. Algumas são reembolsadas, como as com os Correios,
            e outras são pagas por débito automático, como a compra de passagens.
            Nos casos de reembolso, os deputados têm três meses para apresentar os recibos.</p>
          </div>
          <div class="col-md-6">
            <p>O valor mensal não utilizado fica acumulado ao longo do ano -
              isso explica porque em alguns meses o valor gasto pode ser maior que a média mensal.</p>
          </div>
        </div>
     </div>
  </section>
</div>
{% endblock %}
