{% extends "base.html" %}


{% block subtitle -%}
  - Sobre
{%- endblock -%}


{% block content %}
  <div class="container">
    <section class="card my-3">
      <h5 class="card-header">Sobre o projeto</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p>O <span class="texto--destaq">Gastos dos Políticos</span> utiliza a api Dados Abertos do
            <a href="https://www.camara.leg.br/transparencia/gastos-parlamentares">Portal da Transparência</a>
            para acessar e apresentar os gastos dos deputados [e futuramente dos senadores] com a cota parlamentar.
            O projeto ainda está em desenvolvimento, portanto algumas coisas podem mudar bastante por aqui.
            Sugestões são bem-vindas. Basta utilizar o formulário ao lado.</p>
          </div>
          <div class="col-md-6">
            {% include "pages/_feedback_form.html" %}
          </div>
        </div>
      </div>
    </section>

    <section class="card my-3">
      <h5 class="card-header">Sobre Cota Parlamentar</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p>A Cota para o Exercício da Atividade Parlamentar (CEAP) custeia as despesas do mandato
            como passagens aéreas e conta de celular. Algumas são reembolsadas, como as com os Correios,
            e outras são pagas por débito automático, como a compra de passagens.
            Nos casos de reembolso, os deputados têm três meses para apresentar os recibos.</p>
          </div>
          <div class="col-md-6">
            <p>O valor mensal não utilizado fica acumulado ao longo do ano -
            isso explica porque em alguns meses o valor gasto pode ser maior que a média mensal.
            Todas informações apresentadas neste site são públicas e acessíveis pelo
            <a href="https://www.camara.leg.br/transparencia/gastos-parlamentares">Portal da Transparência</a>.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
