{% extends "base.html" %}

{% block content %}
  <section class="cart">
    {% include "pages/_search_form.html" %}
  </section>
  <section class="cart">
    <h5 class="cart__titulo">
      Deputados de <span class="texto--destaq">
      {%- if form.partido.data -%}
        {{ form.partido.data }}
      {%- else -%}
        TODOS OS PARTIDOS
      {%- endif %} / {% if form.uf.data -%}
        {{ form.uf.data }}
      {%- else -%}
        TODOS OS ESTADOS
      {%- endif -%}
      </span>
    </h5>
    <div class="cart__conteudo">
      {% with rank = ranking %}
        {% include "pages/_ranking.html" %}
      {% endwith %}
    </div>
  </section>
{% endblock %}
