{% extends "base.html" %}
{% from "shared/macros.html" import paginate, retrato, politico_info %}


{% block subtitle %}
  - {{ parlamentar.nome }} ({{ parlamentar.partido }}/{{ parlamentar.uf }})
{% endblock %}


{% block content %}
  <section class="row my-5">
    <div class="col-md-3 d-flex justify-content-center">
      <div class="text-center">
        {{ retrato(parlamentar, tamanho=(114, 158)) }}
        {{ politico_info(parlamentar) }}
      </div>
    </div>
    <div class="col-md-9">
      <div class="mb-3 p-2 bg-light">
        {% include "shared/_stats.html" %}
      </div>
      {% include "pages/_filter_show_form.html" %}
    </div>
  </section>

  <section class="bg-light p-2 mb-3">
    <div class="table-responsive mb-3">
      <table class="table tab table-striped">
        <thead>
          <tr><th>Data</th> <th>Valor</th> <th>Tipo</th> <th>Documento</th></tr>
        </thead>
        <tbody>
        {%- for desp in pagination.items %}
          <tr id="{{ desp.cod_documento }}-{{ desp.num_documento }}">
            <td>{{desp.data.day }}/{{ desp.data.month|month_abbr }}</td>
            <td>{{ desp.valor|currency }}</td>
            {# Normaliza a descrição da despesa.                #
             # TODO: isso daqui provavelmente deve ser tratado  #
             # antes de salvar os dados no banco.               #}
            <td>{{ desp.tipo.rstrip(".")|capitalize }}</td>
            <td>
              {%- if desp.url_documento %}
                <a href="{{ desp.url_documento }}" target="_blank"><strong>Nota Fiscal</strong></a>
              {%- else %}
                -
              {%- endif %}
            </td>
          </tr>
        {%- else %}
          <p class="text-muted">Ainda não há dados disponíveis.</p>
        {%- endfor %}
        </tbody>
      </table>
    </div>
    {{ paginate(pagination, endpoint="pages.show", page_id=parlamentar.id) }}
  </section>
{% endblock %}
