<form action="#" method="POST">
  <div class="form-row">
    <div class="col form-group">
      <select id="inputAno" class="form-control">
        <option selected>2020</option>
      </select>
    </div>
    <div class="col form-group">
      <select id="inputMes" class="form-control">
        <option selected>Todos os meses</option>
      </select>
    </div>
    <div class="col-sm-6 form-group">
      <select id="inputCat" class="form-control">
        <option selected><small>Todas as categorias</small></option>
      </select>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-primary btn-lg">Filtrar</button>
  </div>
</form>
