{# Fragmento de html para renderizar o ranking de parlamentares 
   Usado no index em `Quem gastou mais`. `Quem gastou menos`
#}

{% from "shared/macros.html" import retrato %}

<div class="row mt-4">
  {% for parlamentar, total in rank %}
    <div class="col-sm-2 text-center">
      <a href="{{ url_for('pages.show', id=parlamentar.id) }}">
        {{ retrato(parlamentar) }}
      </a>
      <span><strong class="nome-parlamentar">{{ parlamentar.nome }}</strong></span>
    </div>
  {% endfor %}
</div>
