{% extends "base.html" %}
{% from "shared/macros.html" import despesa, paginacao %}

{% block content %}
  <div class="jumbotron-fluid" style="background-color: rgb(240, 240, 240)">
    {% include "shared/_search_form.html" %}
  </div>
  <section class="mt-3">
    <h2>Últimas despesas dos deputados da Câmara Federal</h2>
    <div>
      <ul class="list-unstyled lista-despesas">
        {% for desp in pagination.items %}
        {{ despesa(desp) }}
        {% endfor %}
      </ul>
      {{ paginacao(pagination, endpoint="pages.index") }}
    </div>
  </section>
{% endblock %}
