
{% macro retrato(politico, com_gasto='', tamanho=(80, 106)) %}
  <div class="retrato-wrapper">
    <div class="retrato rounded-circle border border-warning">
      <img src="{{ politico.url_foto }}" alt="{{ politico.nome }}"
           width="{{ tamanho[0] }}" height="{{ tamanho[1] }}">
    </div>
    {% if com_gasto %}
      <span class="badge badge-warning fixed-bottom-right">
        {{ com_gasto|currency(verbose=True) }}
      </span>
    {% endif %}
  </div>
{% endmacro %}


{% macro paginate(pagination, endpoint, page_id=None) %}
  <nav aria-label="Paginação">
    {# Reaplica os filtros presentes à url da paginação #}
    {# atualizando o parâmetro `page` #}
    {% set pargs = dict(request.args, id=page_id, page=pagination.prev_num) %}
    {% set nargs = dict(request.args, id=page_id, page=pagination.next_num) %}
    <ul class="pagination pagination justify-content-end">
      <li class="page-item {% if not pagination.has_prev %} disabled {% endif %}">
        <a class="page-link" href="{{ url_for(endpoint, **pargs) }}">
          &laquo; Anterior
        </a>
      </li>
      <li class="page-item {% if not pagination.has_next %} disabled {% endif %}">
        <a class="page-link" href="{{ url_for(endpoint, **nargs) }}">
          Próxima &raquo;
        </a>
      </li>
    </ul>
  </nav>
{% endmacro %}
