
{% macro retrato(politico, tamanho=(80, 106)) %}
  {% set width, height = tamanho %}
  {% set m = width if width > height else height %}
  <div class="retrato rounded-circle border border-muted"
       style="width: {{ m }}px; height: {{ m }}px">
    <img src="{{ politico.url_foto }}" alt="{{ politico.nome }}"
         width="{{ width }}px" height="{{ height }}px">
  </div>
{% endmacro %}


{% macro politico_card(politico, total_gasto=None) %}
  <div class="pol-cart">
    <a class="link--none" href="{{ url_for('pages.show', id=politico.id) }}">
      <div class="retrato-wrap">
        {{ retrato(politico, tamanho=(67, 90)) }}
        {% if total_gasto %}
          <div class="retrato-wrap__badge-wrap">
            <span class="badge badge-success text-white rounded border border-white">
              {{ total_gasto|currency(verbose=True) }}
            </span>
          </div>
        {% endif %}
      </div>
      <div class="pol-cart__info">
        <strong>{{ politico.nome }}</strong><br>
        <span>{{ politico.partido }}/{{ politico.uf }}</span>
      </div>
    </a>
  </div>
{% endmacro %}


{% macro politico_info(politico) %}
  <div class="politico-info">
    <strong>{{ politico.nome }}</strong><br>
    <span>{{ politico.partido }}/{{ politico.uf }}</span>
  </div>
{% endmacro %}


{% macro paginate(pagination, endpoint, page_id=None) %}
  <nav aria-label="Paginação">
    {# Reaplica os filtros presentes à url da paginação #}
    {# atualizando o parâmetro `page` #}
    {% set pargs = dict(request.args, id=page_id, page=pagination.prev_num) %}
    {% set nargs = dict(request.args, id=page_id, page=pagination.next_num) %}
    <ul class="pagination pagination justify-content-end">
      <li class="page-item {% if not pagination.has_prev %} disabled {% endif %}">
        <a class="page-link" href="{{ url_for(endpoint, **pargs) }}">
          &laquo; Anterior
        </a>
      </li>
      <li class="page-item {% if not pagination.has_next %} disabled {% endif %}">
        <a class="page-link" href="{{ url_for(endpoint, **nargs) }}">
          Próxima &raquo;
        </a>
      </li>
    </ul>
  </nav>
{% endmacro %}


{% macro media_reembolso(reembolso) %}
  <div id="{{ reembolso.cod_documento }}-{{ reembolso.num_documento }}"
       class="media m-reembolso">
    <div class="m-reembolso__foto">
      <a href="{{ url_for('pages.show', id=reembolso.politico_id) }}">
        {{ retrato(reembolso.politico, tamanho=(50, 66)) }}
      </a>
    </div>
    <div class="media-body">
      <small class="m-reembolso__data">
        {{ reembolso.data.day }} de {{ reembolso.data.month|month_abbr }}
      </small>
      <a class="m-reembolso__info link--none"
         href="{{ url_for('pages.show', id=reembolso.politico_id) }}">
        <strong>{{ reembolso.politico.nome }}</strong>
        <span class="text-muted">
          ({{ reembolso.politico.partido }}/{{ reembolso.politico.uf }})
        </span>
      </a>
      <p class="m-reembolso__conteudo">
        Gasto de {{ reembolso.valor_liquido|currency }} em
        {{ reembolso.tipo.rstrip(".")|lower }}.
      </p>
    </div>
  </div>
{% endmacro %}


{% macro politico_rank(politico, total, max) %}
  <a class="rank__pol link--none" href="{{ url_for('pages.show',
                                                   id=politico.id) }}">
    <div class="rank__foto-wrap">
      <img src="{{ politico.url_foto }}" alt="{{ politico.nome }}"
           width="75%" height="100%">
    </div>
    <div class="rank__barra-wrap">
      <strong>{{ politico.nome }}</strong>
      <span class="text-muted">({{ politico.partido }}/{{ politico.uf}})</span>
      <div class="rank__barra" style="width: {{ (total/max)*100 }}%;">
        <strong>{{ total|currency(verbose=True) }}</strong>
      </div>
    </div>
  </a>
{% endmacro %}
