{%- macro _fmt_valor(v) %}
  {{ "{:.2f}".format(v).replace('.', ',') }}
{%- endmacro %}


{% macro retrato(parlamentar, com_gasto='') %}
  <div class="retrato-wrapper">
    <div class="retrato rounded-circle border border-warning">
      <img src="{{ parlamentar.url_foto }}" alt="{{ parlamentar.nome }}"
           width="114px" height="152px">
    </div>
    {% if com_gasto %}
      <small class="texto-destaque fixed-bottom-right">{{ com_gasto|currency(verbose=True) }}</small>
    {% endif %}
  </div>
{% endmacro %}


{% macro despesa(desp) %}
  <li id="{{ desp.id }}" class="despesa media mb-2 bg-white">
    <div class="foto-parlamentar rounded-circle mr-3">
      <img src="{{ desp.servidor.url_foto }}" alt="{{ desp.servidor.nome }}">
    </div>
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{{ url_for('pages.show', id=desp.servidor.id)}}">
          {{ desp.servidor.nome }}
        </a> <small>{{ desp.servidor.partido}}/{{ desp.servidor.uf }}</small>
      </h5>
      <p>R$ {{ _fmt_valor(desp.valor) }} em {{ desp.data }} com {{ desp.tipo|title }}.</p>
    </div>
  </li>
{% endmacro %}


{% macro navegacao(navigation, parlamentar) %}
  {% set ano = 2020 %}
  {% set nomes_meses = {
    1: "Jan", 2: "Fev", 3: "Mar",
    4: "Abr", 5: "Mai", 6: "Jun",
    7: "Jul", 8: "Ago", 9: "Set",
    10: "Out", 11: "Nov", 12: "Dez" }
  %}

  <ul class="nav nav-pills flex-column mt-2">
    {%- for mes, gasto in navigation|sort(reverse=True) %}
      <li class="nav-item">
        {%- set url = url_for("pages.show", id=parlamentar.id, ano=ano, mes=mes) %}
        <a class="nav-link {{ 'active' if request.args.get('mes') == mes|string else '' }}" href="{{ url }}">
          <strong>{{ nomes_meses[mes] }} (R$ {{ _fmt_valor(gasto) }})</strong>
        </a>
      </li>
    {%- endfor %}
  </ul>
{% endmacro %}


{% macro paginacao(pagination, endpoint, page_id=None) %}
  <nav aria-label="Paginação">
    <ul class="pagination pagination-lg justify-content-end">
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page == pagination.page %}
            <li class="page-item active">
              <span class="page-link">{{ page }}</span>
            </li>
          {% else %}
            <li class="page-item">
              {# Reaplica os filtros presentes à url da paginação #}
              {# atualizando o parâmetro `page` #}
              {% set args = dict(request.args, page=page) %}

              {% if page_id %}
                {% set url = url_for(endpoint, id=page_id, **args) %}
              {% else %}
                {% set url = url_for(endpoint, **args) %}
              {% endif %}
              <a class="page-link" href="{{ url }}">{{ page }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}
